{% extends 'base.html.twig' %}


{% block title %}Wishlist
{% endblock %}


{% block body %}
	<section class="text-gray-400 bg-gray-900 body-font container px-5 py-14 mx-auto">
		<h1>My Wishlist</h1>
		<div class="container px-5 py-24 mx-auto">
			<div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
				{% for item in wishlistItems %}
					{% include 'game/_game_item.html.twig' with {'game': item.getGame} %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

