{% extends 'base.html.twig' %}
{% block title %}About us - AllGames
{% endblock %}
{% block body %}
	<section class="text-gray-400 bg-gray-900 body-font">
		<div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
			<img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" src="{{ asset('images/logo-all-games.svg') }}" alt="AllGames"/>
			<div class="text-center lg:w-2/3 w-full">
				<h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
					A propos
				</h1>
				<p class="leading-relaxed mb-8">
					Nous nous engageons à connecter les joueurs avec les titres qu'ils aiment. Notre
					        la mission est de simplifier la façon dont vous découvrez, listez vos souhaits et suivez les meilleurs
					        des jeux dans tous les genres et sur toutes les plateformes. Que vous soyez un collectionneur passionné
					        ou à la recherche de votre prochain passe-temps favori, nous sommes là pour vous aider à explorer
					        de nouvelles aventures et tirez le meilleur parti de votre parcours de jeu.
				</p>
			</div>
		</div>
	</section>
{% endblock %}
